# Nixpacks configuration for Railway
# Railway will use this to build the Rust project

[phases.setup]
providers = ["rust"]
nixPkgs = ["rustc", "cargo"]

[phases.install]
cmds = [
  "curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain nightly",
  "source $HOME/.cargo/env",
  "rustup default nightly",
  "rustup update nightly",
  "rustc --version",
  "cargo --version",
  "cargo build --release"
]

[start]
cmd = "./target/release/hush-v2-server"

